<div class="pokedex-container">
  <app-search-bar (keydown)="onKeyDown($event)" (keyup)="getPokemon($event)"></app-search-bar>
  <div class="pokedex-data-container">
    <div class="pokedex-data">
      <div class="error-container">
        <p class="error">{{error && "Pokemon not found"}}</p>
      </div>
      <div>
        <img src={{pokemon?.sprites.front_default}}>
        <img src={{pokemon?.sprites.back_default}}>
      </div>
      <p *ngFor="let stat of pokemon?.stats">{{stat.stat.name}}: {{ stat.base_stat }}</p>
      <p class="statDifferences" *ngFor="let statDiff of statDifferences">{{
        statDiff }}</p>
      <p>{{ pokemon?.weight ? "weight: " + pokemon.weight + " pounds" : ""}}</p>
    </div>
  </div>
</div>