<div class="pokedex-container">
  <app-search-bar (keydown)="handlePokemonSelect($event)"></app-search-bar>
  <div id="type-container" class="type-container">
    <span class="type" [style.background-color]="determineClass(type)" *ngFor="let type of this.pokemon?.types">
      {{this.cap(type.type.name)}}
    </span>
  </div>
  <div class="pokedex-data-container">
    <div class="pokedex-data">
      <div class="error-container">
        <p class="error">{{error && "Pokemon not found"}}</p>
        <i [style.display]="display" class="fa fa-arrow-right"></i>
        <p [style.display]="display" class="search-for">Search for a pokemon</p>
        <i [style.display]="display" class="fa fa-arrow-left"></i>
      </div>
      <div class="sprite-container" (click)="toggleSprites()">
        <img src={{spriteFront}}>
        <img src={{spriteBack}}>
      </div>
      <div class="statDiv">
        <p *ngFor="let stat of pokemon?.stats">{{this.cap(stat?.stat.name)}}: {{
          stat?.base_stat }}</p>
      </div>
      <div class="statDiffDiv">
        <p [className]="statDiff > -1 ? 'statDifferences' : 'statDifferencesNegative'" *ngFor="let statDiff of statDiffData">{{
          statDiff}}</p>
      </div>
    </div>
  </div>
</div>