.error {
    color: yellow;
    margin: 10px auto;
}

:host(.firstPokedex) {
    float: left;
}

:host(.secondPokedex) {
    float: right;
}

:host(.pokedex) {
    color: white;
    margin: auto;
    height: 500px;
    border: 5px solid blue;
    display: flex;
    width: 30%;
    background-image: linear-gradient(red, black)
}

.pokedex-container {
    margin: 10px auto;
}

.pokedex-data-container {
    display: flex;
}

.error-container {
    display: flex;
}

.pokedex-data {
    margin: auto;
}

.statDifferences {
    color: rgb(19, 219, 19);
}

.statDifferencesNegative {
    color: rgba(240, 240, 4, 0.986);
}

.statDiv {
    float: left;
}

.statDiffDiv {
    float: right;
}

.sprite-container:hover {
    cursor: pointer;
}

.search-for {
    color: white;
}

@-webkit-keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    60% {
      -webkit-transform: translateX(15px);
      transform: translateX(15px);
    }
  }
  @-moz-keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(30px);
    }
    60% {
      transform: translateX(15px);
    }
  }
  @keyframes bounceLeft {
    0%,
    20%,
    50%,
    80%,
    100% {
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -ms-transform: translateX(30px);
      transform: translateX(30px);
    }
    60% {
      -ms-transform: translateX(15px);
      transform: translateX(15px);
    }
  }
  /* /left bounce */
  
  
  /* right bounce */
  @-webkit-keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    60% {
      -webkit-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  @-moz-keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-30px);
    }
    60% {
      transform: translateX(-15px);
    }
  }
  @keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -ms-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    60% {
      -ms-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  /* /right bounce */
  
  
  /* assign bounce */
  .fa-arrow-right {
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    float:right;
    top: -1.4em;
    position: relative;
  }
  
  .fa-arrow-left {
    -webkit-animation: bounceLeft 2s infinite;
    animation: bounceLeft 2s infinite;
    top: -1.4em;
    position: relative;
  }

