.error {
    color: yellow;
    margin: 10px auto;
}

.error-container {
  grid-row: 2;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 9px;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  min-width: 200px;
  grid-row: 1;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  margin-left: 3px;
}

.type {
  border: 3px solid white;
  border-radius: 25px;
  padding: 0 1em;
  margin: 0.5em 0.5em;
  height: 1.5em;
  line-height: 1.5;
  background-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.type-container {
  text-align: center;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-container {
    margin: 10px auto;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 36px 10px 30px 10px auto;
}

.pokedex-data-container {
    display: flex;
}

.pokedex-data {
    margin: auto;
    width: 192px;
    grid-row: 5;
}

.stats-section {
  grid-row: 5;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.statDifferences {
  text-align: right;
}

.statDifferencesPositive {
  @extend .statDifferences;
  color: rgb(19, 219, 19);
}

.statDifferencesNegative {
    @extend .statDifferences;
    color: rgba(240, 240, 4, 0.986);
}

.statDiv {
    grid-column: 1;
}

.statDiffDiv {
    grid-column: 2;
}

.sprite-container:hover {
    cursor: pointer;
}

.sprite-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 96px;
}

.search-for {
  color: white;
  text-align: center;
  grid-column: 1 / span 2;
  margin-top: 5px;
}

.loading-gif-container {
  grid-row: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-gif {
  max-width: 200px;
}

@media only screen and (max-width: 900px) {
  .pokedex-data {
    max-height: 346px;
  }
}

@media only screen and (max-width: 450px) {
  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    min-width: 230px;
    font-size: 20px;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    font-size: 20px;
    height: 100%;
    top: 0;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    height: 100%;
    top: 0;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input input {
    height: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  .pokedex-container {
    grid-template-rows: 36px 40px 94px 250px;
    grid-row-gap: 30px;
  }

  .pokedex-data-container {
    align-items: center;
    justify-content: center;
  }

  .pokedex {
    max-height: 100vh;
    height: 100vh;
  }

  .pokedex-data {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    grid-column: 1 / span 2;
  }
}

