<div class="pokedex-container">
  <app-search-bar (keydown)="onKeyDown($event)" (keyup)="getPokemon($event)"></app-search-bar>
  <div class="pokedex-data-container">
    <div class="pokedex-data">
      <div class="error-container">
        <p class="error">{{error && "Pokemon not found"}}</p>
      </div>
      <div class="sprite-container" (click)="toggleSprites()">
        <img src={{spriteFront}}>
        <img src={{spriteBack}}>
      </div>
      <div class="statDiv">
        <p *ngFor="let stat of pokemon?.stats">{{stat?.stat.name}}: {{
          stat?.base_stat }}</p>
        <!-- <p>{{ pokemon?.weight ? "weight: " + pokemon.weight + " pounds" : ""}}</p> -->
      </div>
      <div class="statDiffDiv">
        <p [className]="statDiff > -1 ? 'statDifferences' : 'statDifferencesNegative'" *ngFor="let statDiff of statDiffData">{{
          statDiff}}</p>
      </div>
    </div>
  </div>
</div>