.app-container {
    display: flex;
    background-image: linear-gradient(blue, black);
    width: 100%;
    height: 100%;
}

.pokeball-gif-container {
    width: 40%;
    height: 40%;
    display: block !important;
}

.pokeball-gif {
    width: 100%;
    height: 100%;
}

#chart {
    top: 30px;
    position: relative;
    width: 100%;
}

.blocker {
    width: 100%;
    height: 10px;
    position: relative;
    top: -15px;
    background-color: black;
    border-bottom: 5px solid blue;
}

.footer {
    background-color: black;
    width: 100%;
    height: 500px;
}
