.search-bar {
    width: 90%;
    margin: auto;
}

.search-bar-container {
    background-color: green;
    width: 100px;
    margin: auto;
    display: flex;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: black;
}